<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="HostSmtp" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="EnableSsl" value="true"/>
		<add key="SenderName" value="who is sending"/>
		<add key="SenderEmail" value="sending email"/>
		<add key="SenderEmailPassword" value="password"/>
		<add key="ReciverEmail" value="receiving email"/>

		<add key="SendHour" value="8"/>
		<add key="IntervalInMinutes" value="1"/>
		<add key="SendReports" value="true"/>
	</appSettings>
</configuration>